.catalog {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.headerButton {
    display: flex;
    column-gap: 8px;
    align-items: center;
    padding: 8px 8px;
    height: 40px;
    border-radius: 4px;
}

.headerButton:hover {
    box-shadow: 0 5px 10px rgba(112, 192, 91, 0.5);
}

.headerButton:active:after {
    box-shadow: none;
    border: none;
}



.headerButton:active {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.inputSearch {
    width: 374px;
    height: 40px;
    font-size: 16px;
    font-family: Rubik, sans-serif;
}

.buttonText {
    width: 92px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: Rubik, sans-serif;

}